title: Nectar Research Cloud tutorials
email: support@ehelp.edu.au
description: Nectar Research Cloud tutorials
baseurl:
permalink: none

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from

repository: NeCTAR-RC/tutorials

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: tutorial

# New tutorials should be added by running:
#   $ rake tutorial "My tutorial title"
collections:
  launching-virtual-machines:
    output: true
    permalink: /:collection/:name
    title: Launching Virtual Machines
    summary: Launching a virtual machine using the Nectar dashboard and the launch dialog
    category: Beginner
    tags:
      - cloud starter
      - launching
      - dashboard
    difficulty: 1
    duration: 25
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  connecting:
    output: true
    permalink: /:collection/:name
    title: Access using SSH and web-based VNC
    summary: Access your Virtual Machine's command line using your Terminal and ssh or the web-based vnc console.
    category: Beginner
    tags:
      - cloud starter
      - connecting
      - terminal
    difficulty: 1
    duration: 17
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  advanced-networking:
    output: true
    permalink: /:collection/:name
    title: Advanced Networking
    summary: Learn to implement some advanced networking concepts in your Nectar Research Cloud project
    category: Advanced
    tags:
      - advanced networking
      - private network
      - router
      - floating ip address
    difficulty: 5
    duration: 58
    status: draft
    published: 2019-05-20
    author: Just Berkhout <just.berkhout@utas.edu.au>

  keypairs:
    output: true
    permalink: /:collection/:name
    title: Creating a keypair for use in Nectar
    summary: Understanding Public-Private Keypairs in the Nectar Research Cloud.
    category: Beginner
    tags:
      - cloud starter
      - security
      - authentication
    difficulty: 1
    duration: 16
    status: draft
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  sec-groups-101:
    output: true
    permalink: /:collection/:name
    title: Security groups, the absolute basics
    summary: Get ready to launch with the bare minimum ssh Security Group for your Nectar instance.
    category: Beginner
    tags:
      - tutorial
      - networking
      - security
    difficulty: 1
    duration: 15
    status: draft
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  allocation-management:
    output: true
    permalink: /:collection/:name
    title: Allocation Management
    summary: Understand, manage and maintain an allocation in the Nectar Research Cloud
    category: Non-technical
    tags:
      - cloud starter
      - expiry bot
      - amend
      - extend
      - user management
      - project manager
      - delegation
    difficulty: 1
    duration: 23
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  changing-instances:
    output: true
    permalink: /:collection/:name
    title: Rebooting, Deleting, Rebuilding, Resizing
    summary: Making changes to existing instances. Learn to reboot, resize, rebuild and delete instances.
    category: Beginner
    tags:
      - cloud starter
    difficulty: 1
    duration: 32
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cli-101:
    output: true
    permalink: /:collection/:name
    title: Command line, sudo and apt
    summary: Find your way around your instance from the command line. Learn to use admin privileges and install and maintain software
    category: Beginner
    tags:
      - cloud starter
      - cli
      - command line
      - sudo
      - apt
    difficulty: 1
    duration: 35
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cloud-starter:
    output: true
    permalink: /:collection/:name
    title: Cloud Starter Series
    summary: Get started in the Nectar Research Cloud with this tutorial series. Learn how easy it is to launch VMs, to connect and to try something new.
    category: Series
    tags:
      - cloud starter
      - 101
      - entry level
      - beginner
      - launch
      - connect
      - series
    difficulty: 0
    duration: 160
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  dns-with-designate:
    output: true
    permalink: /:collection/:name
    title: DNS with Designate
    summary: Learn to manage your domain name records in Nectar
    category: Intermediate
    tags:
      - dashboard
      - dns
      - cone
      - recordset
      - designate
    difficulty: 2
    duration: 20
    status: draft
    published: 2019-09-19
    author: Mark Endrei <mark.endrei@uq.edu.au>

  applications:
    output: true
    permalink: /:collection/:name
    title: Applications
    summary: Learn to quick deploy an application environment from our catalog with this R-Studio example.
    category: Beginner
    tags:
      - application
      - dashboard
      - r-studio
      - shiny
      - x2go
      - guacamole
      - remote desktop
    difficulty: 1
    duration: 24
    status: draft
    published: 2019-09-24
    author: Mark Endrei <mark.endrei@uq.edu.au>

  moving-data:
    output: true
    permalink: /:collection/:name
    title: Moving data
    summary: Learn some basic ways of copying data to and from your Nectar instance.
    category: Beginner
    tags:
      - scp
      - cyberduck
      - copy
    difficulty: 1
    duration: 18
    status: draft
    published: 2019-09-24
    author: Just Berkhout <just.berkhout@utas.edu.au>

  volume-storage:
    output: true
    permalink: /:collection/:name
    title: Volume Storage
    summary: "Learn to use Volume Storage: Nectar's virtual USB-sticks."
    category: Beginner
    tags:
      - tutorial
    difficulty: 1
    duration: 21
    status: draft
    published: 2019-09-26
    author: Just Berkhout <just.berkhout@utas.edu.au>

  snapshots:
    output: true
    permalink: /:collection/:name
    title: Snapshots
    summary: "Learn to use Snapshot to make a copy or backup of a Nectar instance."
    category: Beginner
    tags:
      - tutorial
    difficulty: 1
    duration: 15
    status: draft
    published: 2019-11-05
    author: Ming Fu <xiao.fu@utas.edu.au>

  cloudstor:
    output: true
    permalink: /:collection/:name
    title: AARNet Cloudstor
    summary: "Learn to use AARNet Cloudstor in Nectar's Virtual Machine"
    category: Beginner
    tags:
      - tutorial
    difficulty: 1 # number from 1 to 5
    duration: 16 # number of minutes
    status: draft # draft or published
    published: 2019-11-13
    author: Ming Fu <xiao.fu@utas.edu.au>

  kubernetes:
    output: true
    permalink: /:collection/:name
    title: Kubernetes
    summary: "Learn how to create and administer your own Kubernetes cluster using Magnum"
    category: Advanced
    tags:
      - tutorial
    difficulty: 3
    duration: 60
    status: draft
    published: 2020-01-02
    author: Jake Yip <jake.yip@unimelb.edu.au>
 
  x11forwarding:
    output: true
    permalink: /:collection/:name
    title: X11 Forwarding
    summary: "Learn to use X11 Forwarding to run graphical applications on virtual machine."
    category: Intermediate
    tags:
      - tutorial
    difficulty: 2 # number from 1 to 5
    duration: 15 # number of minutes
    status: draft # draft or published
    published: 2019-11-28
    author: Ming Fu <xiao.fu@utas.edu.au>

  openstack-cli:
    output: true
    permalink: /:collection/:name
    title: OpenStack CLIs
    summary: "A basic introduction to Nectar Cloud OpenStack command line interfaces (CLI)"
    category: Intermediate
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 27 # number of minutes
    status: draft # draft or published
    published: 2020-02-25
    author: Ming Fu <xiao.fu@utas.edu.au>

  intermediate-security-groups:
    output: true
    permalink: /:collection/:name
    title: Intermediate Security Groups
    summary: "Learn to use advanced security groups in Nectar Research Cloud."
    category: Intermediate
    tags:
      - tutorial
    difficulty: 2 # number from 1 to 5
    duration: 37 # number of minutes
    status: draft # draft or published
    published: 2020-02-20
    author: Ming Fu <xiao.fu@utas.edu.au>

  database:
    output: true
    permalink: /:collection/:name
    title: Database
    summary: "A basic tutorial to learn to use database as a service in Nectar Research Cloud."
    category: Advanced
    tags:
      - tutorial
    difficulty: 4 # number from 1 to 5
    duration: 91 # number of minutes
    status: draft # draft or published
    published: 2020-01-30
    author: Ming Fu <xiao.fu@utas.edu.au>
