title: Nectar Research Cloud tutorials
email: support@ehelp.edu.au
description: >-
  Nectar Research Cloud tutorials
url: ""
baseurl: ""

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from

repository: NeCTAR-RC/tutorials

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "tutorial"

# New tutorials should be added by running:
#   $ rake tutorial "My tutorial title"
collections:
  launching-virtual-machines:
    output: true
    title: Launching Virtual Machines
    permalink: /:collection/:name
    summary: Launching a virtual machine using the Nectar dashboard and the launch dialog
    categories: Beginner
    tags:
      - Cloud Starter
      - Launching
      - dashboard
    difficulty: 1
    duration: 25
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  connecting:
    output: true
    permalink: /:collection/:name
    title: Access using SSH and web-based VNC
    summary: Access your Virtual Machine's command line using your Terminal and ssh or the web-based vnc console.
    categories: Beginner
    tags:
      - Cloud Starter
      - connecting
      - terminal
    difficulty: 1
    duration: 17
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  advanced-networking:
    output: true
    permalink: /:collection/:name
    title: Advanced Networking
    summary: Learn to implement some advanced networking concepts in your Nectar Research Cloud project
    categories: Advanced
    tags:
      - advanced networking
      - private network
      - router
      - floating ip address
    difficulty: 5
    duration: 58
    status: draft
    published: 2019-05-20
    author: Just Berkhout <just.berkhout@utas.edu.au>

  keypairs:
    output: true
    permalink: /:collection/:name
    title: Creating a keypair for use in Nectar
    summary: A tutorial for Creating a keypair for use in Nectar
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Cloud Starter
      - security 
      - authentication
    difficulty: 1 # number from 1 to 5
    duration: 13 # number of minutes
    status: draft # draft or published
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  sec-groups-101:
    output: true
    permalink: /:collection/:name
    title: Security groups, the absolute basics
    summary: Get ready to launch with the bare minimum ssh Security Group for your Nectar instance.
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Tutorial
    difficulty: 1 # number from 1 to 5
    duration: 15 # number of minutes
    status: draft # draft or published
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  allocation-management:
    output: true
    permalink: /:collection/:name
    title: Allocation Management
    summary: Understand, manage and maintain an allocation in the Nectar Research Cloud
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Cloud Starter
      - expiry bot 
      - amend 
      - extend 
      - user management 
      - project manager 
      - delegation 
    difficulty: 1 # number from 1 to 5
    duration: 10 # number of minutes
    status: draft # draft or published
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  changing-instances:
    output: true
    permalink: /:collection/:name
    title: Rebooting, Deleting, Rebuilding, Resizing
    summary: Making changes to existing instances. Learn to reboot, resize, rebuild and delete instances.
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Cloud Starter
    difficulty: 1 # number from 1 to 5
    duration: 32 # number of minutes
    status: draft # draft or published
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cli-101:
    output: true
    permalink: /:collection/:name
    title: Command line, sudo and apt
    summary: Find your way around your instance from the command line. Learn to use admin privileges and install and maintain software
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Cloud Starter 
      - cli
      - command line
      - sudo 
      - apt
    difficulty: 1 # number from 1 to 5
    duration: 35 # number of minutes
    status: draft # draft or published
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cloud-starter:
    output: true
    permalink: /:collection/:name
    title: Cloud Starter Series
    summary: Get started in the Nectar Research Cloud with this tutorial series. Learn how easy it is to launch VMs, to connect and to try something new.
    categories: Beginner # Beginner|Intermediate|Advanced
    tags:
      - Cloud Starter
      - 101
      - entry level
      - beginner
      - Launch
      - connect
      - series
    difficulty: 1 # number from 1 to 5
    duration: 10 # number of minutes
    status: draft # draft or published
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

