title: Nectar Research Cloud tutorials
email: support@ehelp.edu.au
description: Nectar Research Cloud tutorials
baseurl:
permalink: none

markdown: kramdown

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-redirect-from

repository: NeCTAR-RC/tutorials

liquid:
  error_mode: strict

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: tutorial

# Ordered by how they should appear in the curriculum list
tutorial_categories:
  - Setting up prerequisites
  - Launching and connecting
  - The command line and software
  - Data
  - Networking
  - Working with allocations
  - Cloud-native services

# New tutorials should be added by running:
#   $ rake tutorial "My tutorial title"
collections:
  launching-virtual-machines:
    output: true
    permalink: /:collection/:name
    title: Launching Virtual Machines
    summary: Launching a virtual machine using the Nectar dashboard and the launch dialog
    category: Launching and connecting
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - cloud starter
      - launching
      - dashboard
    difficulty: 1
    duration: 25
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  connecting:
    output: true
    permalink: /:collection/:name
    title: Access using SSH and VNC
    summary: Access your Virtual Machine's command line using your Terminal and SSH and web-based VNC console.
    category: Launching and connecting
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - cloud starter
      - connecting
      - terminal
    difficulty: 1
    duration: 17
    status: draft
    published: 2019-05-14
    author: Just Berkhout <just.berkhout@utas.edu.au>

  advanced-networking:
    output: true
    permalink: /:collection/:name
    title: Advanced Networking
    summary: Learn to implement some advanced networking concepts in your Nectar Research Cloud project
    category: Networking
    level: Advanced
    tags:
      - advanced networking
      - private network
      - router
      - floating ip address
    difficulty: 5
    duration: 58
    status: draft
    published: 2019-05-20
    author: Just Berkhout <just.berkhout@utas.edu.au>

  keypairs:
    output: true
    permalink: /:collection/:name
    title: Creating a keypair for use in Nectar
    summary: Understanding Public-Private Keypairs in the Nectar Research Cloud.
    category: Setting up prerequisites
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - cloud starter
      - security
      - authentication
    difficulty: 1
    duration: 16
    status: draft
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  sec-groups-101:
    output: true
    permalink: /:collection/:name
    title: Security groups, the absolute basics
    summary: Get ready to launch with the bare minimum ssh Security Group for your Nectar instance.
    category: Setting up prerequisites
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - tutorial
      - networking
      - security
    difficulty: 1
    duration: 15
    status: draft
    published: 2019-09-10
    author: Just Berkhout <just.berkhout@utas.edu.au>

  allocation-management:
    output: true
    permalink: /:collection/:name
    title: Allocation Management
    summary: Understand, manage and maintain an allocation in the Nectar Research Cloud
    category: Working with allocations
    curriculum: Cloud Starter
    level: Non-technical
    tags:
      - cloud starter
      - expiry bot
      - amend
      - extend
      - user management
      - project manager
      - delegation
    difficulty: 1
    duration: 23
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  changing-instances:
    output: true
    permalink: /:collection/:name
    title: Rebooting, Deleting, Rebuilding, Resizing
    summary: Making changes to existing instances. Learn to reboot, resize, rebuild and delete instances.
    category: Launching and connecting
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - cloud starter
    difficulty: 1
    duration: 32
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cli-101:
    output: true
    permalink: /:collection/:name
    title: Command line, sudo and apt
    summary: Find your way around your instance from the command line. Learn to use admin privileges and install and maintain software.
    category: The command line and software
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - cloud starter
      - cli
      - command line
      - sudo
      - apt
    difficulty: 1
    duration: 35
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cloud-starter:
    output: true
    permalink: /:collection/:name
    title: Cloud Starter Series
    summary: Get started in the Nectar Research Cloud with this tutorial series. Learn how easy it is to launch VMs, to connect and to try something new.
    category: Cloud Starter
    level: Series
    tags:
      - cloud starter
      - 101
      - entry level
      - beginner
      - launch
      - connect
      - series
    difficulty: 1
    duration: 160
    status: draft
    published: 2019-09-17
    author: Just Berkhout <just.berkhout@utas.edu.au>

  cloud-two:
    output: true
    permalink: /:collection/:name
    title: Cloud Two
    summary: Take the next step to discover some of the more advanced Nectar Research Cloud topics.
    category: Cloud Two
    level: Series
    tags:
      - cloud two
      - intermediate
      - launch
      - connect
      - series
    difficulty: 3
    duration: 160
    status: draft
    published: 2020-12-16
    author: Andy Botting <andy.botting@ardc.edu.au>

  cloud-expert:
    output: true
    permalink: /:collection/:name
    title: Cloud Expert
    summary: Become a Cloud Expert and learn about the advanced topics and services available on the Nectar Research Cloud.
    category: Cloud Expert
    level: Series
    tags:
      - cloud expert
      - advanced
      - series
    difficulty: 5
    duration: 160
    status: draft
    published: 2020-12-16
    author: Andy Botting <andy.botting@ardc.edu.au>

  dns:
    output: true
    permalink: /:collection/:name
    title: DNS with the Nectar DNS service
    summary: Learn to manage your domain name records in Nectar
    curriculum: Cloud Two
    category: Networking
    level: Intermediate
    tags:
      - dashboard
      - dns
      - cone
      - recordset
      - designate
    difficulty: 2
    duration: 20
    status: draft
    published: 2019-09-19
    author: Mark Endrei <mark.endrei@uq.edu.au>

  applications:
    output: true
    permalink: /:collection/:name
    title: Applications
    summary: Learn to quick deploy an application environment from our catalog with this R-Studio example.
    category: Applications
    level: Beginner
    tags:
      - application
      - dashboard
      - r-studio
      - shiny
      - x2go
      - guacamole
      - remote desktop
    difficulty: 1
    duration: 24
    status: draft
    published: 2019-09-24
    author: Mark Endrei <mark.endrei@uq.edu.au>

  moving-data:
    output: true
    permalink: /:collection/:name
    title: Moving data
    summary: Learn some basic ways of copying data to and from your Nectar instance.
    category: Data
    curriculum: Cloud Starter
    level: Beginner
    tags:
      - scp
      - cyberduck
      - copy
    difficulty: 1
    duration: 18
    status: draft
    published: 2019-09-24
    author: Just Berkhout <just.berkhout@utas.edu.au>

  volume-storage:
    output: true
    permalink: /:collection/:name
    title: Volume Storage
    summary: "Learn to use Volume Storage: Nectar's virtual USB-sticks."
    category: Data
    level: Beginner
    tags:
      - tutorial
    difficulty: 1
    duration: 21
    status: draft
    published: 2019-09-26
    author: Just Berkhout <just.berkhout@utas.edu.au>

  snapshots:
    output: true
    permalink: /:collection/:name
    title: Snapshots
    summary: Learn to use Snapshot to make a copy or backup of a Nectar instance.
    category: Data
    level: Beginner
    tags:
      - tutorial
    difficulty: 1
    duration: 15
    status: draft
    published: 2019-11-05
    author: Ming Fu <xiao.fu@utas.edu.au>

  kubernetes:
    output: true
    permalink: /:collection/:name
    title: Kubernetes
    summary: Learn how to create and administer your own Kubernetes cluster using the Nectar Orchestration service.
    curriculum: Cloud Expert
    category: Cloud-native services
    level: Advanced
    tags:
      - tutorial
    difficulty: 3
    duration: 60
    status: draft
    published: 2020-01-02
    author: Jake Yip <jake.yip@unimelb.edu.au>

  x11forwarding:
    output: true
    permalink: /:collection/:name
    title: X11 Forwarding
    summary: Learn to use X11 Forwarding to run graphical applications on virtual machines.
    category: The command line and software
    level: Intermediate
    tags:
      - tutorial
    difficulty: 2 # number from 1 to 5
    duration: 15 # number of minutes
    status: draft # draft or published
    published: 2019-11-28
    author: Ming Fu <xiao.fu@utas.edu.au>

  openstack-cli:
    output: true
    permalink: /:collection/:name
    title: OpenStack CLIs
    summary: A basic introduction to Nectar Cloud OpenStack command line interfaces (CLI).
    curriculum: Cloud Two
    category: The command line and software
    level: Intermediate
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 27 # number of minutes
    status: draft # draft or published
    published: 2020-02-25
    author: Ming Fu <xiao.fu@utas.edu.au>

  intermediate-security-groups:
    output: true
    permalink: /:collection/:name
    title: Intermediate Security Groups
    summary: Learn to use advanced security groups in Nectar Research Cloud.
    curriculum: Cloud Two
    category: Launching and connecting
    level: Intermediate
    tags:
      - tutorial
    difficulty: 2 # number from 1 to 5
    duration: 37 # number of minutes
    status: draft # draft or published
    published: 2020-02-20
    author: Ming Fu <xiao.fu@utas.edu.au>

  application-credentials:
    output: true
    permalink: /:collection/:name
    title: Application Credentials
    summary: Learn to use Application Credentials to authenticate your application in Nectar Cloud.
    curriculum: Cloud Two
    category: The command line and software
    level: Intermediate
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 15 # number of minutes
    status: draft # draft or published
    published: 2020-09-08
    author: Ming Fu  <xiao.fu@utas.edu.au>

  object-storage:
    output: true
    permalink: /:collection/:name
    title: Object Storage
    summary: Learn to use Nectar Object Storage.
    curriculum: Cloud Two
    category: Data
    level: Intermediate
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 60 # number of minutes
    status: draft # draft or published
    published: 2019-12-18

  database:
    output: true
    permalink: /:collection/:name
    title: Database
    summary: A basic tutorial to learn how to use the database as a service in Nectar Research Cloud.
    curriculum: Cloud Expert
    category: Cloud-native services
    level: Advanced
    tags:
      - tutorial
    difficulty: 4 # number from 1 to 5
    duration: 91 # number of minutes
    status: draft # draft or published
    published: 2020-01-30
    author: Ming Fu <xiao.fu@utas.edu.au>

  orchestration:
    output: true
    permalink: /:collection/:name
    title: Orchestration
    summary: Explore the power of the Orchestration service for creating template driven cloud architectures.
    curriculum: Cloud Expert
    category: Cloud-native services
    level: Advanced
    tags:
      - tutorial
    difficulty: 4 # number from 1 to 5
    duration: 50 # number of minutes
    status: draft # draft or published
    published: 2020-02-27
    author: Ming Fu <xiao.fu@utas.edu.au>

  loadbalancing:
    output: true
    permalink: /:collection/:name
    title: Loadbalancing
    summary: Using loadbalancing for scalable, fault-tolerant cloud architectures.
    category: Networking
    level: Advanced
    tags:
      - tutorial
    difficulty: 5
    duration: 60
    status: draft # draft or published
    published: 2020-11-02
    author: Andy Botting <andy.botting@ardc.edu.au>
  migration:
    output: true
    permalink: /:collection/:name
    title: Migration
    summary: How to migrate various cloud resources, including volume, normal instance, legacy instance, databases & more.
    category: Intermediate # Beginner|Intermediate|Advanced|Series|Non-technical
    level: Intermediate
    tags:
      - tutorial
      - migration
    difficulty: 4 # number from 1 to 5
    duration: 120 # number of minutes
    status: draft # draft or published
    published: 2021-08-02
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  prereading:
    output: true
    permalink: /:collection/:name
    title: Prereading for beginners
    summary: A tutorial for absolute beginners who haven't used or interacted with the Cloud before
    category: Beginner # Beginner|Intermediate|Advanced|Series|Non-technical
    tags:
      - tutorial
    level: Beginner
    difficulty: 1 # number from 1 to 5
    duration: 10 # number of minutes
    status: draft # draft or published
    published: 2021-09-08
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  virtual-desktop-service:
    output: true
    permalink: /:collection/:name
    title: Virtual Desktop Service
    summary: Learn how to use the Nectar Virtual Desktop service
    category: Beginner # Beginner|Intermediate|Advanced|Series|Non-technical
    level: Beginner
    tags:
      - tutorial
    difficulty: 1 # number from 1 to 5
    duration: 20 # number of minutes
    status: published # draft or published
    published: 2021-11-18
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  simple-container-service:
    output: true
    permalink: /:collection/:name
    title: Simple container service
    summary: Learn how to deploy a Docker Container using our application service!
    category: Beginner # Beginner|Intermediate|Advanced|Series|Non-technical
    level: Intermediate
    tags:
      - tutorial
    difficulty: 1 # number from 1 to 5
    duration: 30 # number of minutes
    status: published # draft or published
    published: 2021-12-20
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  security_nectar_cloud:
    output: true
    permalink: /:collection/:name
    title: Security practices on the Nectar Cloud
    summary: Learn about some of the essential practices for being secure on Nectar
    category: Intermediate # Beginner|Intermediate|Advanced|Series|Non-technical
    level: Intermediate
    tags:
      - tutorial
    difficulty: 1 # number from 1 to 5
    duration: 45 # number of minutes
    status: published # draft or published
    published: 2022-02-21
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  share_instance:
    output: true
    permalink: /:collection/:name
    title: Sharing your Virtual Machine
    summary: Share your VM securely by adding keys and/or adding a new user account
    category: Intermediate # Beginner|Intermediate|Advanced|Series|Non-technical
    level: Intermediate
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 40 # number of minutes
    status: published # draft or published
    published: 2022-04-06
    author: Sonia Ramza <sonia.ramza@ardc.edu.au>

  kubernetes-advanced:
    output: true
    permalink: /:collection/:name
    title: Kubernetes Advanced
    summary: A tutorial for building a resilient website infrastructure with comprehensive monitoring capabilities
    category: Cloud-native services
    level: Advanced
    tags:
      - tutorial
    difficulty: 3 # number from 1 to 5
    duration: 30 # number of minutes
    status: draft # draft or published
    published: 2024-05-10
    author: Ping Chen <ping.chen@ardc.edu.au>

