---
layout: default
title: Home
order: 0
---

  <div class="container py-4">

    <header class="py-3">
      <h1 class="display-3">Nectar Research Cloud tutorials</h1>
      <div class="row">
          <div class="col-md-12">
          <p class="lead">Build your practical cloud skills with Nectar Research Cloud self-paced online tutorials. Whether you are getting started, increasing your efficiency or looking to hone your cloud skills and make your solutions more sophisticated.</p> 

          <p class="lead">Our technical tutorials are for <i>beginner</i>, <i>intermediate</i> and <i>advanced</i> users and we also explain some of our <i>non-technical</i> topics; browse or search our catalog below.</p> 

          <p class="lead">We're bundling together tutorials in <i>series</i> of related topics, the first of which, <b>Cloud Starter Series</b>, is now published. We will be publishing more tutorials and series soon, be sure to check back.</p>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-md-6">

      <div class="input-group">
        <div class="input-group-prepend">
          <button id="search-filter-button" class="btn dropdown-toggle border" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Topics</button>
          <div class="dropdown-menu search-filter-menu">
            <a class="dropdown-item" href="#">All Topics</a>
            <a class="dropdown-item" href="#">Beginner</a>
            <a class="dropdown-item" href="#">Intermediate</a>
            <a class="dropdown-item" href="#">Advanced</a>
            <a class="dropdown-item" href="#">Non-technical</a>
            <a class="dropdown-item" href="#">Series</a>
          </div>
        </div>
        <input id="search-input" type="search" class="form-control" placeholder="Search tutorials" aria-label="Search tutorials">
        <div class="input-group-append">
          <span id="search-clear" class="input-group-text bg-transparent border border-left-0" style="display:none">
            <i id="search-clear" class="fa fa-times"></i>
          </span>
          <span class="input-group-text border">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
      </div>
    </div>

    {% comment %}
      These cards are also rendered in javascript to handle the search form.
      Any changes you make here should be replicated exactly to the showResults
      function in /assets/javascript/main.js
    {% endcomment %}
    <div id="tutorial-list" class="card-group pt-3 px-0">
      {% include tutorials.html %}
      {% for tutorial in tutorials %}
        <div class="card-container col-md-6 col-lg-4 m-lg-0 py-3">
          <a href="{{ tutorial.label | relative_url }}">
            <div class="card shadow h-100">
              <div class="card-header text-light bg-dark">
                <div class="card-category">
                  <small class="title text-uppercase">{{ tutorial.category }}</small>
                  {% if tutorial.category == "Series" -%}
                    <img src="{{ '/assets/images/series-badge.svg' | relative_url }}" class="series float-right" alt="Nectar Series">
                  {% endif -%}
                </div>
                <h5 class="card-title mb-0">{{ tutorial.title }}</h5>
              </div>
              <div class="card-body">
                <small class="text-muted">{{ tutorial.published | date: "%-d %B %Y" }}</small>
                <p class="card-text py-2">{{ tutorial.summary }}</p>
              </div>
              <div class="card-footer">
                <div class="row no-gutters">
                  <div class="col-xs-auto">
                    <small class="text-muted">Difficulty: </small>
                    <span class="difficulty-indicator difficulty-indicator-{{ tutorial.difficulty }}">
                      {{ tutorial.difficulty }} out of 5
                    </span>
                  </div>
                  <div class="col text-right">
                    <small class="text-muted">Duration: {{ tutorial.duration }} minutes</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
