<footer class="footer mt-auto py-5 bg-dark text-light">
  <div class="container">

    <div class="row h-100">

      <div class="col-md-7 my-auto footer-text">
        <h4>{{- site.title | escape -}}</h4>
        <small>The Nectar Research Cloud is a service of the Australian Research Data Commons (ARDC).
           The Australian Research Data Commons (ARDC) is enabled by the National Collaborative Research Infrastructure Strategy Program (NCRIS).
           <a href="https://ardc.edu.au/about/" target="_blank">Read more about the ARDC...</a>
        </small>
      </div>

      <div class="container col-md-5 py-3">
        <div class="row">
          <div class="col-7 my-auto">
              <a href="https://www.ardc.edu.au/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/ardc_logo_rev.svg" class="img-fluid" alt="Australian Research Data Commons (ARDC)"/>
              </a>
          </div>
          <div class="col-5 my-auto">
              <a href="https://education.gov.au/national-collaborative-research-infrastructure-strategy-ncris" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/ncris_mono_rev.svg" class="img-fluid" alt="National Collaborative Research Infrastructure Strategy (NCRIS)" />
              </a>
          </div>
        </div>
      </div>

    </div> <!-- row h-100 -->

  </div>
</footer>
