<footer class="footer mt-auto py-4 bg-dark text-light">
  <div class="container">

    <div class="row h-100">
      <div class="col-md-6 my-auto">
        <p><b>{{- site.title | escape -}}</b>
        The Nectar Research Cloud is a service of the Australian Research Data Commons (ARDC).
           The ARDC is supported by the Australian Government through the National Collaborative Research Infrastructure Strategy Program.
           <a href="https://ardc.edu.au/about/" class="text-muted" target="_blank">Read more about the ARDC...</a>
        </p>
      </div>
      <div class="col-md-1 my-auto">
      </div>
      <div class="col-md-2 my-auto">
        <a href="https://www.ardc.edu.au/" class="footer_logo">
          <img src="{{ site.baseurl }}/assets/images/ardc-logo-rgb.png" class="img-fluid" alt="ARDC"/>
        </a>
      </div>
      <div class="col-md-1 my-auto">
      </div>
      <div class="col-md-2 my-auto">
        <a href="https://education.gov.au/national-collaborative-research-infrastructure-strategy-ncris" target="_blank" class="gov_logo">
          <img src="{{ site.baseurl }}/assets/images/ncris_logo_white.png" class="img-fluid" alt="National Collaborative Research Infrastructure Strategy (NCRIS)" />
        </a>
      </div>	  
    </div>
  </div>
</footer>
