<!-- ARDC header and navigation -->
<section id="navbar" class="sticky-top">
    <nav id="navbar-top" class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-xl">
            <a href="{{ site.baseurl }}/" class="navbar-brand">
                <img src="{{ site.baseurl }}/assets/images/ardc_nectar_research_cloud.svg" alt="ARDC Nectar Tutorials" height="40" class="d-inline-block align-text-center me-2">
                <span class="d-inline-block">Tutorials</span>
            </a>
            
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-portal" aria-controls="nav-portal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="nav-ardc">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://ardc.edu.au/news-and-events/subscribe/">Newsletter Subscribe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ardc.edu.au/contact-us/">Contact Us</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-icon icon-linkedin ms-2" href="https://www.linkedin.com/company/australian-research-data-commons/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="nav-icon icon-youtube ms-2" href="https://www.youtube.com/c/ARDC_AU"><i class="fab fa-youtube"></i></a>
                        <a class="nav-icon icon-contact ms-2" href="https://ardc.edu.au/contact-us"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="navbar-bottom" class="navbar navbar-expand-lg navbar-light">
        <div class="container-xl">
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-portal" aria-controls="nav-portal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="nav-portal">
                <ul class="navbar-nav">
                    <li class="nav-item {% if page.title == 'Home' %}active{% endif %}">
                      <a class="nav-link" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://support.ehelp.edu.au/support/solutions/articles/6000156761-learning-and-training-resources">Online Workshops</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://dashboard.rc.nectar.org.au/">Nectar Dashboard</a>
                    </li>
                    <li class="nav-item dropdown nectar-menu">
                      <a class="nav-link dropdown-toggle" href="#" id="services-dropdown-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                      </a>
                      <div class="dropdown-menu" aria-labelledby="services-dropdown-menu">
                        <a class="dropdown-item" href="https://desktop.rc.nectar.org.au/">Virtual Desktop Service</a>
                        <a class="dropdown-item" href="https://jupyterhub.rc.nectar.org.au/">Jupyter Notebook Service</a>
                        <a class="dropdown-item" href="https://binderhub.rc.nectar.org.au/">BinderHub Service</a>
                      </div>
                    </li>
                    <li class="nav-item ms-lg-auto"><a class="nav-link nav-cta" href="https://support.ehelp.edu.au/">Support Centre</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
