---
---

$baseurl: "{{ site.baseurl }}";

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";
@import "typeahead";
@import "font-awesome/fontawesome";
@import "font-awesome/solid";

@import "bootstrap-callouts";

/* Spectral heading font */
@import url("https://fonts.googleapis.com/css?family=Spectral:400,700");

/* Proxima Nova body font */
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Spectral";
  color: $ardc-blue;
  font-weight: 600;
}

// Underlined links as per style-guide
.style-links {
  a {
    color: $ardc-purple;
    text-decoration: underline;

    @include hover-focus {
      color: $ardc-pink;
      text-decoration: underline;
    }
  }
}

/*
 * Footer
 */
.footer {
  .footer-text {
    a {
      color: $ardc-yellow;
      text-decoration: underline;

      @include hover-focus {
        color: $ardc-pink;
        text-decoration: underline;
      }
    }
    ul {
      list-style: none;
    }
  }
}

/*
 * Sidebar
 */
.sidebar {
  padding-top: 1.5rem;
  font-size: 0.9em;
}


/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

pre {
  background-color: #404040;
  color: #ccc;
}

// No underline for list items or buttons
code {
  font-size: 80%;
}

/* Force consistent style for console code */
.language-console {
  .highlight {
    pre, code, span {
      color: #fff;
    }
  }
}

/*
 * Cards
 */
.card {
  min-width: 280px;
}

.card-container {
  .card-header,
  .card-body,
  .card-footer {
    padding: 0.75em;
  }

  a { 
    color: inherit;
    text-decoration: none;
  }

}

.card-category {

  .series {
    width: 2rem;
    height: 2rem;
  }
}

/*
 * Search
 */
#search-clear {
  cursor: pointer;
}


/*
 * Diffculty indicator
 */
.difficulty-indicator {
  background-image: url($baseurl + "/assets/images/level-of-difficulty.svg");
  background-position-y: 5px;
  background-position-x: -75px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  text-indent: -99999px;
  width: 75px;
}

.difficulty-indicator-1 {
  background-position-x: -60px;
}
.difficulty-indicator-2 {
  background-position-x: -45px;
}
.difficulty-indicator-3 {
  background-position-x: -30px;
}
.difficulty-indicator-4 {
  background-position-x: -15px;
}
.difficulty-indicator-5 {
  background-position-x: 0px;
}

/*
 * Sidebar items
 */ 
/* https://stackoverflow.com/questions/40463542/how-to-make-vertical-lines-between-list-items-using-css */
