---
---

$baseurl: "{{ site.baseurl }}";

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";
@import "typeahead";
@import "font-awesome/fontawesome";
@import "font-awesome/solid";

@import "bootstrap-callouts";


code {
  font-size: 80%;
}

/*
 * Footer
 */
.footer .footer-text {
  ul {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
  }

  a:hover {
    opacity:1;
  }
}

/*
 * Sidebar
 */

.sidebar {
  padding-top: 1.5rem;
  font-size: 0.9em;
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}


pre {
  background-color: #404040;
  color: #ccc;
}

/* Force consistent style for console code */
.language-console {
  .highlight {
    pre, code, span {
      color: #fff;
    }
  }
}

/*
 * Cards
 */
.card {
  min-width: 280px;
}

.card-container {
  .card-header,
  .card-body,
  .card-footer {
    padding: 0.75em;
  }

  a { 
    color: inherit;
    text-decoration: none;
  }
}


/*
 * Search
 */
#search-clear {
  cursor: pointer;
}


/*
 * Diffculty indicator
 */
.difficulty-indicator {
  background-image: url($baseurl + "/assets/images/level-of-difficulty.svg");
  background-position-y: 5px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  text-indent: -99999px;
  width: 75px;
}

.difficulty-indicator-1 {
  background-position-x: -60px;
}
.difficulty-indicator-2 {
  background-position-x: -45px;
}
.difficulty-indicator-3 {
  background-position-x: -30px;
}
.difficulty-indicator-4 {
  background-position-x: -15px;
}
.difficulty-indicator-5 {
  background-position-x: 0px;
}

/*
 * Sidebar items
 */ 
/* https://stackoverflow.com/questions/40463542/how-to-make-vertical-lines-between-list-items-using-css */
